$White: #ffffff;
$ShallowWhite: #f0f0f0;
$Primary: #b8ccbb;
$PrimaryHover: #c1d6c4;
$Highlight: #1890ff;
$Gray: #909399;
$LightGray: #5cdbd3;
$Danger: #f56c6c;
$Success: #67C23A;
$PrimaryShadow: 0px 2px 6px 0px rgba(184, 204, 187, 100);
$Transparent: url(data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==);
$TextShadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
