@mixin Transition($target, $time, $func) {
  transition: $target $time $func;
  -moz-transition: $target $time $func; /* Firefox 4 */
  -webkit-transition: $target $time $func; /* Safari and Chrome */
  -o-transition: $target $time $func; /* Opera */
}
@mixin Animation($name, $time, $count, $func) {
  -webkit-animation: $name $time $count $func;
  -moz-animation: $name $time $count $func;
  -ms-animation: $name $time $count $func;
  -o-animation: $name $time $count $func;
  animation: $name $time $count $func;
}
@mixin Keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}
@mixin LargeScreen {
  @media (min-height: 900px) {
    @content;
  }
}
